/staged
coverage
/test/reports
/.bundle
/log
/run
/workflow/results
/workflow/tests/RESNET_Tests/4.2_Test_HERS_Reference_Home
/workflow/ERIIndexAdjustmentDesign
/workflow/ERIIndexAdjustmentReferenceHome
/workflow/ERIRatedHome
/workflow/ERIReferenceHome
