/staged
coverage
/test/reports
/.bundle
/log
/run
/workflow/HERSRatedHome
/workflow/HERSReferenceHome
/workflow/HERSIndexAdjustmentDesign
/workflow/results
/workflow/tests/RESNET_Tests/4.2_Test_HERS_Reference_Home

.idea